@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Root
:root {
    --primary-color: #0a5a66;
    --dark-color: #12202e;
    --light-color: #f4f4f4;
    --danger-color: #d30d20;
    --success-color: #2aaa50;
    --shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
}

* {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    color: black !important;
}

#login {
    color: white;
    padding: 5px;
    background-color: #913a54;
    width: 280px;
    margin: 0 auto;
    position: relative;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
}

h1 {
    text-align: center;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color) !important;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color) !important;
}

div {
    padding: 5px;
}

label {
    color: red;
}

[value="Login"] {
    padding: 5px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem;
    font-weight: bold;
    color: var(--danger-color) !important;
    padding: 10px auto;
    background-color: rgb(22, 77, 125);
    border-radius: 5px;
    margin: 10px auto;
}

.btn-login {
    display: flex;
}

input:focus {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
}